.app {
  background-color: rgba(61, 60, 60, 0.212);
  height: 102vh;
}
body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.app_2 {
  display: inline;
}

.app_history {
  display: inline;
  height: 45vh;
  width: 23.8vw;
  margin-top: 7vh;
  margin-left: 0.3vw;
  display: flex;
}
.app_chart {
  height: 90vh;
  margin-top: -45vh;
  margin-left: 24.4vw;
  display: flex;
}

.app_swap_2 {
  display: inline;
  margin-top: -90vh;
  margin-left: 76.5vw;
  width: 24vw;
}

.app_balance {
  height: 44vh;
  width: 22.5vw;
  margin-top: -44vh;
  margin-left: 77vw;
}

.app_price_tracker {
  width: 22vw;
  margin-left: 1vw;
  height: 44vh;
  margin-top: -44vh;
}
