.app {
  background-color: black;
  /* height: 102vh; */
}
body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.app_2 {
  display: inline;
}

.app_history {
  display: inline;
  height: 45vh;
  /* background-color: rgba(128, 128, 128, 0.26); */
  width: 24vw;
  margin-top: 7vh;
  margin-left: 0.1vw;
  display: flex;
}
.app_chart {
  /* display: block; */
  height: 90vh;
  /* background-color: rgba(128, 128, 128, 0.26); */
  /* width: 50vw; */
  margin-top: -45vh;
  margin-left: 24.4vw;
  display: flex;
}

.app_swap_2 {
  display: inline;
  margin-top: -90vh;
  margin-left: 76.5vw;
  /* height: 87.5vh; */
  width: 24.2vw;
  /* background-color: rgba(128, 128, 128, 0.26); */
  /* color: white; */
}
/* .row {
  background-color: rgba(128, 128, 128, 0.26);
  color: white;
}
.content {
  background-color: rgba(128, 128, 128, 0.26);
  color: white;
} */

.app_balance {
  height: 44vh;
  width: 22.5vw;
  margin-top: -44vh;
  margin-left: 77vw;
}

.app_price_tracker {
  /* background-color: rgba(128, 128, 128, 0.26); */
  width: 22vw;
  margin-left: 1vw;
  height: 44vh;
  margin-top: -44vh;
  /* display: inline; */
}
