* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.buy_app::-webkit-scrollbar {
  display: none; /*chrome*/
}

.buy_input {
  margin-left: 1.5vw;
  margin-top: 0.5vh;
}
.input_data {
  margin-left: 3vw;
  margin-top: 0.75vh;
  width: 2vw;
}
.input_balance {
  margin-top: 1vh;
  margin-left: 12vw;
}

body {
  color: white;
}

.buy_app {
  height: 84vh;
  width: 22.2vw;
  overflow-y: auto;
  display: inline;
}
.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Buttons - input,output */
.menu-trigger {
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  height: 3.9vh;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.balance {
  height: 42.7vh;
  overflow-y: auto;
  margin-top: 14vh;
  background-color: rgba(128, 128, 128, 0.26);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.balance > h5 {
  text-align: center;
  margin-top: 1.5vh;
}

.balance > table {
  width: 28vw;
  height: 12vh;
  margin-left: 2.4vw;
  margin-top: 3vh;
}
.balance::-webkit-scrollbar {
  display: none; /*chrome*/
}

.buy_form {
  display: inline;
  height: 12vh;
  background-color: rgb(173, 79, 79);
}

.buy_input {
  margin-top: 3vh;
  margin-left: 3vw;
}
.input_balance {
  margin-left: 5.5vw;
  margin-top: -3vh;
}

.output {
  margin-left: 3vw;
  margin-top: 3.5vh;
}
.output_balance {
  margin-left: 4.7vw;
  margin-top: -3vh;
}

.submit_button {
  display: inline;
  margin-left: 8vw;
  margin-top: 4vh;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  color: rgba(255, 255, 255, 0.787);
  background: rgba(47, 47, 47, 0.26);
  width: 6.5vw;
  height: 5vh;
}

.input_menu {
  display: inline;
  margin-top: -6vh;
}
.input_menu > button {
  margin-top: -24.7vh;
  height: 3.75vh;
  margin-left: 14.8vw;
  color: rgba(255, 255, 255, 0.644);
  background: rgba(255, 255, 255, 0.185);
}

.output_menu {
  display: inline;
}
.output_menu > button {
  margin-top: 8.1vh;
  height: 3.75vh;
  margin-left: 14.8vw;
  color: rgba(255, 255, 255, 0.644);
  background: rgba(255, 255, 255, 0.185);
}

.input_placeholder {
  margin-top: 1vh;
  margin-left: 4vw;
}

.output_placeholder {
  margin-top: 1vh;
  margin-left: 4vw;
}
