.coinlist {
  width: 51vw;
  height: 92vh;
  background-color: rgba(128, 128, 128, 0.26);
  /* background-color: #333; */
  border: 0;
  color: white;
}
* {
  /* background-color: rgba(128, 128, 128, 0.26); */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.crypto_tracker::-webkit-scrollbar {
  display: none; /*chrome*/
}
.crypto_tracker {
  width: 53vw;
  height: 20vh;
  overflow-y: auto;
}

.crypto_tracker > table {
  width: 50vw;
  margin-left: 1vw;
  font-size: medium;
  margin-top: 1vh;
}

.crypto_tracker > h5 {
  text-align: center;
  margin-top: 3vh;
}

.cryptoDetail {
  background-color: rgba(128, 128, 128, 0);
  color: white;
  border-width: 0;
}
