.chart {
  height: 62vh;
  color: white;
}
.chart-ref {
  height: 52vh;
  color: black;
}

.chart_price {
  margin-left: 1.5vw;
}

.percentage {
  display: inline;
  margin-left: 2vh;
}
.price {
  display: inline;
}
