.history {
  color: white;
  background-color: rgba(128, 128, 128, 0.26);
  height: 92vh;
  overflow-y: auto;
  overflow-x: auto;
}

.history > table {
  width: 52vw;
  margin-left: 0.5vw;
  margin-top: 2.5vh;
}
table {
  border-collapse: collapse;
  width: 40vw;
}
tr {
  margin-top: 2vh;
  /* border-bottom: 1px solid black; */
}

.history > h5 {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2.5vh;
}
.heading {
  margin-left: 1vw;
  place-items: center;
}

.sent_receive {
  display: inline_block;
  margin-left: 0.5vw;
}

.address_value {
  display: inline_block;
  margin-left: 3vw;
  margin-top: -18.6vh;
}

.value {
  display: inline_block;
  margin-left: 12vw;
  margin-top: -10.7vh;
}

.gas_price {
  display: inline_block;
  margin-left: 15vw;
  margin-top: -18.4vh;
}
